header{
    background-color: #7700ff;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.navigation{
    display: flex;
    align-items: center;
    list-style: none;

    &__home{
        text-decoration: none;
        margin-right: 2.5rem;
    }
    &__home:hover{
        background-color: #8E2BFF;
        padding: 1rem;
        align-self: stretch;
    }
}